modLoader="javafml"
loaderVersion="47.4.0"
license="MIT"
issueTrackerURL="https://github.com/highspeedtrain/Create-Law-and-Order/issues" #optional
[[mods]] #mandatory
modId="createlawandorder" #mandatory
# The version number of the mod
version="0.0.3" #mandatory
# A display name for the mod
displayName="Create Law and Order" #mandatory
# A URL for the "homepage" for this mod, displayed in the mod UI
displayURL="https://github.com/highspeedtrain/Create-Law-and-Order" #optional
# A file name (in the root of the mod JAR) containing a logo for display
#logoFile="examplemod.png" #optional
# A text field displayed in the mod UI
credits="highspeedtrain, AverAGEig" #optional
# A text field displayed in the mod UI
authors="highspeedtrain, AverAGEig" #optional
# Mod display
displayTest="MATCH_VERSION"

description='''
A mod that adds the judicial system to Create!
Sue players, criminal records, laws and more! 
'''

[[dependencies.createlawandorder]]
    modId="forge"
    mandatory=true
    versionRange="47.4.0"
    ordering="NONE"
    side="BOTH"

[[dependencies.createlawandorder]]
    modId="minecraft"
    mandatory=true
    versionRange="1.20.1"
    ordering="NONE"
    side="BOTH"
[[dependencies.createlawandorder]]
    modId="create"
    mandatory=true
    versionRange="[0.5.1.j,)"
    ordering="NONE"
    side="BOTH"
